.calculator {
    width: 320px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #151515;
}

.display, .complete-operation {

    height: 50px;
    border: 1px solid gray;
    margin-bottom: 10px;
    text-align: right;
    padding: 5px;
    overflow: auto;
}

.display {
    height: 50px;
    margin-bottom: 10px;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 10px;
    font-size: 1.5em;
}

.complete-operation {
    height: 30px;
    
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.button {
    padding: 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 4px;
    background-color: #2b3fa5;
    transition: background-color 0.3s;
    cursor: pointer;
}

.button:hover {
    background-color: #191717;
}

.button:active {
    background-color: #191717;
}

.button.large {
    grid-column: span 2;
}

.button.operation {
    background-color: #ff9500;
    color: white;
}

.button.operation:hover {
    background-color: #e68900;
}